body{
  background: url(back.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
font-family: 'Abril Fatface', cursive;
}

.rowHeight{
  height: 500px;
}

h1{
  color: black;
  font-size: 2.5em;
}

.bg{
  background-color: grey;
}

.footer{
  background-color: white;
  bottom: 0;
  position: fixed;
}

p{
  font-size: 18px;
  padding: 10px;
}
